.image{
    background-image: url(imgbag/343540668_928558071725730_7990683710529568409_n.jpg);
    height:  56vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}